*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: black;
    /* background-image: url();
    background-size: cover;
    background-position: center; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 8%; */
}


.mobile{
    height: 100%;
    width: 23%;
    /* margin-left: 8%; */
   border: 3px solid black;
   background-color: rgb(233, 230, 230);
   /* border-radius: 20px; */
   box-shadow: 10px 10px 10px;
   }
.mobile nav{
    height: 5%;
    width: 100%;
    /* border: 1px solid black; */
    padding: 10px 15px;
     display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 21px;
}
nav i{
  
color: rgb(41, 39, 39);
}
nav h2{
    padding: 10px 10px;
    color: rgb(41, 39, 39);
}
 .box2{
    height: 10%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    font-size: 19px;
}

.box2 .img{
    height: 70%;
    width: 14%;
    /* border: 1px solid black; */
    border-radius: 50px 50px;
    background-image: url(https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center;
    margin-left: 12px;
}
.text  h2{
    margin-left: 9px;
    color: rgb(41, 39, 39);
}

.text  p{
    margin-left: 9px;
    color: rgb(41, 39, 39);
}

.accounts{
    height: 5%;
    width: 100%;
    /* border: 1px solid black; */
   }
.accounts h2 {
   margin-top: 5px;
    margin-left: 17px;
    color: rgb(41, 39, 39);
    font-size: 26px;
}


.accounts1{
    height: 19%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
   }

.accounts2{
    height: 98%;
    width: 96%;
    border-radius: 20px;
    /* border: 1px solid black; */
    background-color: white;
    /* align-items: center;
    justify-content: center; */
   }
   .accounts >i{
      

   }
   .accounts2 h5{
    margin-top: 12px;
    margin-left: 10px;
    font-size: 18px;
    color: rgb(41, 39, 39);
    font-family: sans-serif;
   }



.privacy{
    height: 5%;
    width: 100%;
    /* border: 1px solid black; */
}
.privacy h2 {
    margin-top: 7px;
   
    margin-left: 17px;
    color: rgb(41, 39, 39);
    font-size: 26px;
}

.privacy1{
    height: 18%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.privacy2{
    height: 98%;
    width: 96%;
    
    border-radius: 20px;
    background-color: white;
    /* margin-top: -10px; */
    /* border: 1px solid black; */
   
   }
   .privacy2 h5{
    margin-top: 12px;
    margin-left: 12px;
    font-size: 18px;
    color: rgb(41, 39, 39);
    font-family: sans-serif;
   }
.permission{
    height: 5%;
    width: 100%;
    /* border: 1px solid black; */
}
.permission h2 {
      margin-top: 7px;
    margin-left: 17px;
    color: rgb(41, 39, 39);
    font-size: 26px;
}
.permission1{
    height: 19%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.permission2{
    height: 98%;
    width: 96%;
    background-color: white;
   margin-left: 7px;
    border-radius: 20px;
    /* margin-top: -10px; */
    /* border: 1px solid black; */
}
   .permission2 h5{
    margin-top: 12px;
    margin-left: 10px;
    font-size: 19px;
    color: rgb(41, 39, 39);
    font-family: sans-serif;
   }
.last{
    height: 7%;
    width: 98%;
    background-color: white;
   margin-left: 7px;
   margin-top: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    font-size: 20px;
    
} 
.last a{
    text-decoration: none;
    color: rgb(41, 39, 39);
   flex-direction: column;
    gap: 10px;
}
.last i{
    text-decoration: none;
    color: rgb(41, 39, 39);
   flex-direction: column;
    gap: 10px;
}